<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=eadge">
    <meta name="viewport" content="width=device-width ,initial-scale-1.0">
    <title>Documents</title>
    <style>
        img{
            height: 200px;
            width: 220px;

        }
    </style>
</head>
<body>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="images" multiple>
        <button>Upload</button>
    </form>
    <hr>
    {% for img in images %}
    <img src="{{img.images.url}}" alt="Image">
    {% endfor %}
</body>
</html>