{% extends 'base.html' %}

{% block title %} LogIn{% endblock title %}

{% block nav-content %}
<i class="	fa fa-heartbeat"></i>login
{% endblock nav-content %}



{% block btn-nav %}
<a href="{% url 'frontend' %}" class="btn btn-outline-primary btn-sm border-light text-light" id="btn_nav">GoBack</a>
{% endblock btn-nav %}



{% block content %}


<div class="container mt-5">
    <div class="card p-3 border-dark">
        <span class="btn btn-outline-dark mt-3"><i class=" fas fa lock"></i>Resticted Access</span>
        <form method="POST" autocomplete="off" novalidate>
            {% csrf_token %}
            <div class="input-group mb-3 mt-5">
                <span class="input-group-text "><i class="fa fa-user" ></i></span>
                <input type="text" class="form-control" name="username" placeholder="username">
            </div>

            <div class="input-group mb-3 mt-5">
                <span class="input-group-text "><i class="fa fa-user" ></i></span>
                <input type="text" class="form-control" name="username" placeholder="username">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text "><i class="fa fa-lock" ></i></span>
                <input type="password" class="form-control" name="password" placeholder="password">
            </div>
            <input class="btn btn-primary btn-sm mt-4 mb-3" type="submit" value="Enter" id="btn-enter">
        </form>
    </div>

    <!-----------Message from backend----->
    {% if form.errors %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        swal("Denied","Enter Your Data correctly","Error")

    </script>

    {% endif%}

    <!-------Heart Pulse----->
    <centre id="heart">
        <i class="text-primary fas fa-heartbeat fa-10x">

</div>
{% endblock content %}
